## 1. Pollutant Mean (Solution Code)

In [1]:
library(plyr)

pollutantmean <- function(directory, pollutant, id = 1:332) {
    csv_files <- list.files(path = directory)[id]
    csv_read <- vector(mode = "list")

    for (csv_file in csv_files) {
       csv_read <- append(csv_read, list(read.csv(paste(directory, "/", csv_file, sep=""))))
    }

    csv_cumulative <- rbind.fill(csv_read)

    mean(csv_cumulative[, pollutant], na.rm = TRUE)
}

Warning message:
"package 'plyr' was built under R version 4.1.1"

### Test Cases

In [2]:
pollutantmean("specdata", "sulfate", 1:10)

[1] 4.064128

In [3]:
pollutantmean("specdata", "nitrate", 70:72)

[1] 1.706047

In [4]:
pollutantmean("specdata", "nitrate", 23)

[1] 1.280833

## 2. Complete (Solution Code)

In [5]:
complete <- function(directory, id = 1:332) {
    csv_files <- list.files(path = directory)[1:332]
    csv_cumulative <- c()

    for (csv_idx in id) {
       csv_clean <- na.omit(read.csv(paste(directory, "/", csv_files[csv_idx], sep="")))
       csv_cumulative[csv_idx] <- nrow(csv_clean)
    }

    clean_data <- data.frame(id = id, nobs = na.omit(csv_cumulative))
    clean_data
}

### Test Cases

In [6]:
complete("specdata", 1)

  id nobs
1 1  117

In [7]:
complete("specdata", c(2, 4, 8, 10, 12))

  id nobs
1  2 1041
2  4  474
3  8  192
4 10  148
5 12   96

In [8]:
complete("specdata", 30:25)

  id nobs
1 30 463
2 29 586
3 28 338
4 27 475
5 26 711
6 25 932

In [9]:
complete("specdata", 3)

  id nobs
1 3  243